*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
} 

.container::after {
    display: table;
    clear: both;
    content: '';
}


.float {
    float: left;
    width: calc(33.33% - 14px);
    
}

.relative {
    position: relative;
}

.margin {
    margin: 10px;
}

img{
    width: 100%;
}

.center {
    margin: 10px 0 ;
}


.sconto{
    position: absolute;
    bottom: 12px;
    left: 0;
    background-color: crimson;
    color: white;
    font-size: 0.5em;
    padding: 5px;
}

.green-bottom {
    position: absolute;
    bottom: 12px;
    left: 33px;
    background-color: green;
    color: white;
    font-size: 0.5em;
    padding: 5px;
    
}

/* sixth image */

.green-bottom-2{
    position: absolute;
    bottom: 12px;
    left: 0;
    background-color: green;
    color: white;
    font-size: 0.5em;
    padding: 5px;
}

/* /sixth image */

.hearths {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 5px 10px;
}

.invisible {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.relative:hover .invisible{
    display: inline-block;
}

.hearths {
    border: 0px;
}

.hearths:hover{
    color: tomato;
}

.mark{
    font-size: 0.7em;
}

.description {
    font-size: 0.8em;
    font-weight: bold;
}

.price {
    font-size: 0.7em;
    color: tomato ;
}

.line-through {
    font-size: 0.7em;
    text-decoration-line: line-through;
}